includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    # The level 8 is the highest level
    level: 8

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
